---
title: ZLB Terminal
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <meta name="description" content="Die Zentral- und Landesbibliothek Berlin (ZLB), hier federführend für den Verbund der Öffentlichen Bibliotheken, und die Technologiestiftung Berlin entwickeln gemeinsam ein Pilotprojekt mit dem Ziel, Bürger*innen Grundwissen zu Medien- und Digitalkompetenzen zu vermitteln, damit Bürger*innen die zunehmenden Serviceangebote staatlicher Dienstleistungen sicher und selbständig erledigen können und dabei eine vollwertige gesellschaftliche Teilhabe, auch dort, wo sich diese auf digitale Prozesse stützt, erlangen können." />
    <meta name="author" content="Technologiestiftung Berlin" />  

    {% if externalstyles %}
      {% for stylesheet in externalstyles %}
        <link rel="stylesheet" href="{{ stylesheet }}"> 
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    {{ content }}
  </body>
</html>
