.service {

  .title, p {
    border-bottom: 1px solid $border;
  }

  details {
    border-bottom: 1px solid $border;

    .arrow-down {
      transition: transform .2s ease-in;
    }

    &[open] {
      .arrow-down {
        transform: rotate(180deg);
      }
    }

    > summary {
      list-style: none;

      &::-webkit-details-marker {
        display: none;
      }

      &:hover {
        color: $primary;
        
        .arrow-down {
          /* filter generates primary color */
          filter: invert(55%) sepia(93%) saturate(4413%) hue-rotate(3deg)
            brightness(101%) contrast(100%);
        }
      }

      &:focus {
        outline: 1px dotted $primary;
      }

      .media {
        align-items: center;
      }
    }

    p {
      border-bottom: none;
    }
  }

  ul {
    list-style: inside;
  }

  a.link-portal {
    display: flex;
    align-items: flex-start;
    
    &::before {
      content: url(/images/icon_link.svg);
      display: inline-block;
      margin-right: 10px;
    }
  }

  .print-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .print-icon-wrapper {
      border: 1px solid $text;
      border-radius: 50%;
      width: 25%;
      display: flex;
      justify-content: center;

      figure {
        width: 50%;
      }
    }
    .print-button-wrapper {
      width: 100%;

      button {
        text-decoration: none;
      }
    }
  }
}