// --------------------------------------------------------------
// To stay close to the Bulma library, we use the same variable
// names as Bulma's initial variables:
// (https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass)
// --------------------------------------------------------------

$family-sans-serif: "PT Sans", sans-serif;

$orange: rgb(250, 100, 0);
$turquoise: rgb(0, 173, 178);
$white-bis: #f8f8f8;
$grey-lightest: #efefef;

$secondary: rgb(0, 121, 150);
