.category-overview ul {
  border-bottom: 1px dotted $primary;
}

.category-overview {
  padding-top: 65px;
}

.category-overview .service-unavailable {
  pointer-events: none;

  .card:hover {
    transform: none;
  }

  figure,
  .content {
    opacity: 0.1;
  }
}
