.category-overview ul {
  border-bottom: 1px dotted $primary;
}

.category-overview {
  
  .grid-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: $gap;
  
    @include from($tablet) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  
    .card {
      height: 100%;
      transition: all .1s ease-out;
      border-radius: 6px;
      border: 1px solid transparent;
      overflow: hidden;

      .category-title { background-color: transparent; }

      &:hover {
        border-color: $black-ter;
        background-color: $black-ter;
        color: $white;
        transform: scale(1.05);

        .category-title { background-color: $black-ter; }
      }
    }
  }
}

.category-overview .service-unavailable {
  pointer-events: none;

  .card:hover {
    transform: none;
  }

  figure, .content {
    opacity: 0.1;
  }
}
