/* service item */
.service-overview {
  padding-top: 65px;

  .subservices-wrapper {
    display: none;
  }

  .subservices {
    row-gap: 0;
  }

  .subservice {
    grid-column: 2 / -2;
    border-radius: 6px;
    box-shadow: $card-shadow;
    cursor: pointer;
    > a:hover {
      color: inherit;
    }
  }
}
