/* service item */
.service-overview {
  padding-top: 65px;

  .card {
    &.is-active {
      color: $white;
      background-color: $primary;
    }
  }

  .subservices-wrapper {
    display: none;
  }

  .subservices {
    row-gap: 0;
  }

  .subservice {
    grid-column: 1 / -1;
    border-radius: 6px;
    box-shadow: $card-shadow;
    @include from($tablet) {
      grid-column: 2 / -2;
    }
    > a {
      display: block;
      &:hover {
        color: inherit;
      }
    }
  }
}
