/* service item */
.service-overview {
  padding-top: 65px;

  ul > li {
    border-bottom: 1px solid $text;

    .media {
      align-items: center;
    }

    ul.subservices {
      li {
        border-bottom: 1px solid $border;

        a {
          &:before {
            content: "-";
            align-self: baseline;
            margin-right: 5px;
            transform: translateY(2px);
          }
        }

        &:last-of-type {
          border-color: transparent;
        }
      }
    }

    a:hover {
      background-color: $white-bis;
      .arrow-right {
        /* filter generates primary color */
        filter: invert(55%) sepia(93%) saturate(4413%) hue-rotate(3deg)
          brightness(101%) contrast(100%);
      }
    }
  }
}
