.service {
  #requirements,
  #documents,
  #costs,
  #time {
    .section-title-wrapper,
    > p,
    .section-item {
      width: 100%;
      border-bottom: 1px solid $border;
    }
  }

  .section-icon {
    align-self: flex-start;
    transform: translateY(0);
    @include from($tablet) {
      align-self: flex-end;
      transform: translateY(-24px);
    }
  }

  .section-title-wrapper > div i {
    text-decoration: underline;
    cursor: pointer;
  }

  .bottom-buttons-wrapper {
    @include from($desktop) {
      display: flex;
      justify-content: flex-end;
    }
  }

  details {
    width: 100%;

    .info-icon {
      position: relative;
      width: 32px;
      height: 32px;
      &:before {
        content: url(/images/info_off.svg);
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
      }
    }

    &[open] {
      .info-icon:before {
        content: url(/images/info_on.svg);
      }
    }

    &:hover {
      background-color: $white-bis;

      summary {
        color: $secondary;
      }
    }

    summary {
      list-style: none;

      &::-webkit-details-marker {
        display: none;
      }

      &:focus {
        outline: 1px dotted $primary;
      }

      .media {
        align-items: center;
      }
    }

    p {
      border-bottom: none;
    }
  }

  ul {
    list-style: inside;
  }

  aside > div {
    > * {
      display: block;
      min-width: 270px;
      width: min-content;
    }
  }

  aside hr {
    height: 1px;
    background-color: $primary;
  }

  a.link-portal {
    font-style: italic;
    display: flex;
    align-items: flex-start;
    color: $secondary;

    &::before {
      content: url(/images/icon_link.svg);
      display: inline-block;
      margin-right: 10px;
    }
  }

  .print-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .print-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 145px;
  }

  .print-icon-wrapper {
    border: 1px solid $text;
    border-radius: 50%;
    display: flex;
    justify-content: center;

    figure {
      width: 50%;
    }
  }
}
