<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left is-flex">
        <span class="level-item">Ein Projekt von:</span>
        <figure class="level-item image is-128x128">
          <img
            src="/images/logos/VOEBB-Logo_Standard_Azur_rgb.png"
            alt="Logo des Verbund der Öffentlichen Bibliotheken Berlins"
          />
        </figure>
        <figure class="level-item image logo-tsb-wrapper">
          <img
            src="/images/logos/tsb-logo.svg"
            alt="Logo der Technologiestiftung Berlin"
          />
        </figure>
      </div>
      <div class="level-right">
        <a
          class="level-item"
          href="https://www.technologiestiftung-berlin.de/de/impressum/"
          target="_blank"
          rel="noopener noreferrer"
          >Impressum</a
        >
        <span class="level-item has-text-primary">|</span>
        <a
          class="level-item"
          href="https://www.technologiestiftung-berlin.de/de/datenschutz/"
          target="_blank"
          rel="noopener noreferrer"
          >Datenschutz</a
        >
      </div>
    </div>
  </div>
</footer>
