@charset "utf-8";

@import "partials/_fonts";

// override initial variables (with literal values)
$orange: rgb(250,100,0);
$family-sans-serif: "PT Sans", sans-serif;

// override derived variables from customized initial values
$primary: $orange;
$title-color: $primary;
$subtitle-color: $primary;

@import "../../node_modules/bulma/sass/utilities/_all.sass";

// override derived variables from untouched initial values
$link: $text;
$link-hover: $primary;
$link-focus: $primary;
$link-active: $primary;

$button-text-hover-background-color: transparent;

$footer-background-color: $background;
$card-background-color: $white-ter;
$card-header-background-color: $white;
$card-content-background-color: $grey-lightest;

$breadcrumb-item-active-color: $primary;
$breadcrumb-item-separator-color: $primary;

@import "../../node_modules/bulma/bulma.sass";

@import "partials/_header";
@import "partials/_categories";
@import "partials/_overview";
@import "partials/_service";
@import "partials/_iframes";
@import "partials/_circular-icon";
@import "partials/_atoz";

// general styles (move to scss files?!)
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
}

.intro-section {
  display: flex;
  align-items: center;
}

button[disabled], .button[disabled] {
  pointer-events: none;
}