header {
  @include from($tablet) {
    position: sticky;
    top: 0;
  }
  display: flex;
  min-height: 200px;
  padding-bottom: 20px !important;
  z-index: 1;
  box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);
  > .container {
    align-self: flex-end;
  }
}

.button-fontsize {
  text-decoration: none !important;
  &::before {
    content: url(/images/btn_biggerletter.svg);
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.breadcrumb-button {
  &.history-back, &.history-forward {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: auto;
  }
}