header {
  @include from($tablet) {
    position: sticky;
    top: 0;
  }
  display: flex;
  /* min-height: 200px; */
  padding-bottom: 20px !important;
  z-index: 1;
  background-color: $background;
  box-shadow: 0 0 6px 0 #38383888;
  > .container {
    align-self: flex-end;
  }
}

.button-fontsize {
  text-decoration: none !important;
  &::before {
    content: url(/images/btn_biggerletter.svg);
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.breadcrumb-button {
  margin-right: 84px;
  &.history-back,
  &.history-forward {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: auto;
  }
}
