header {
  @include from($tablet) {
    position: sticky;
    top: 0;
    height: $header-height;
  }
  display: flex;
  height: auto;
  z-index: 1;
  background-color: $background;
  box-shadow: 0 0 6px 0 #38383888;
  > .container {
    align-self: flex-end;
  }
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;

  .breadcrumb .is-active a {
    display: block;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.history-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .breadcrumb-button {
    align-self: flex-start;
    margin-right: 0;
    @include from($tablet) {
      align-self: flex-end;
      margin-right: 57px;
    }
    &.history-back {
      cursor: pointer;
      border: none;
      background-color: transparent;
      height: auto;
    }
  }
}

.button-fontsize {
  text-decoration: none !important;
  &::before {
    content: url(/images/btn_biggerletter.svg);
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

header .map-title {
  color: $secondary;
}
