---
pagination:
  data: level3array
  size: 1
  alias: service
  addAllPagesToCollections: true
permalink: "help/{{ service.key | slug }}/appointment/"
layout: layouts/iframes.liquid
tags: appointment
eleventyComputed:
  title: "{{ service.title }}"
---

<main class="section pt-0 iframe-section">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-three-quarters">
        <iframe src="{{ service.appointment.berlin.url }}" frameborder="0"></iframe>
      </div>
      <div class="column is-one-quarter">
        <div class="card mt-3">
          <div class="card-content has-background-light">
            <a href="/service/{{ service.key }}" class="has-text-primary is-size-5">Zurück zur Bürgerbox</a>
          </div>
          <div class="card-content has-background-white">
            <h1 class="title has-text-weight-normal is-size-5">Schritt für Schritt</h1>
            <ul>
              <li>Schritt 1</li>
              <li>Schritt 2</li>
              <li>Schritt 3</li>
              <li>Schritt 4</li>
              <li>Schritt 5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
