---
eleventyExcludeFromCollections: true
layout: layouts/default.liquid
---

<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-size-4 has-text-weight-normal">
          Die Zentral- und Landesbibliothek Berlin (ZLB), hier federführend für den Verbund der Öffentlichen Bibliotheken, und die Technologiestiftung Berlin entwickeln gemeinsam ein Pilotprojekt mit dem Ziel, Bürger*innen Grundwissen zu Medien- und Digitalkompetenzen zu vermitteln, damit Bürger*innen die zunehmenden Serviceangebote staatlicher Dienstleistungen sicher und selbständig erledigen können und dabei eine vollwertige gesellschaftliche Teilhabe, auch dort, wo sich diese auf digitale Prozesse stützt, erlangen können.
        </h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-5 has-text-centered">
        <a class="button is-primary is-fullwidth" href="/categories">
          Start
        </a>
      </div>
    </div>
  </div>
</main>