---
layout: layouts/skeleton.liquid
tags: map
externalstyles:
  - https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css
---

<main id="map"></main>
<div class="back-button-container box">
  <a
    class="has-text-primary"
    onclick="window.history.back()"
  >Zurück zum ZLB-Terminal</a>
</div>

<script src="/js/map.js"></script>
