---
layout: layouts/skeleton.liquid
tags: map
externalstyles:
  - https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css
---

<main id="map"></main>
<!-- <div class="back-button-container box">
  <a onclick="window.history.back()">Zurück zum ZLB-Terminal</a>
</div> -->
<aside id="map-sidebar" class="p-5">
  <div class="sidebar-search">
    <h2 class="title is-6 mb-3 has-text-dark">Suche nach Straße oder Bezirk</h2>
    <input type="text" placeholder="Schreiben Sie hier Ihre Adresse" class="input is-small" disabled>
    <div class="select is-small mt-3" style="width: 100%;">
      <select style="width: 100%;" disabled>
        <option disabled selected value>Wählen Sie einen Bezirk</option>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
  <div class="sidebar-content">
    <hr />
    <p class="title is-5 mb-3 has-text-dark">Meine Auswahl:</p>
    <h1 class="title is-6 mb-0"></h1>
    <h2></h2>
    <address>
      [Straße und Hausnummer] <br />
      [PLZ und Ort] <br />
      [Telefonnummer] <br />
      [Faxnummer]
    </address>
    <a href="#" class="button is-secondary mt-4" disabled>Zum Service-Portal Berlin</a>
    <hr />
    <p class="accessibility"></p>
    <hr />
    <h3 class="title is-6 has-text-dark mb-0">Nahverkehr</h3>
    <p>[Nahverkehr-Infos]</p>
    <ul>
      <li></li>
    </ul>
    <hr />
    <button class="button" disabled>Als PDF herunterladen</button>
  </div>
</aside>

<script src="/js/map.js"></script>
